@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-Regular.woff2') format('woff2'),
       url('../fonts/Noah-Regular.woff') format('woff'),
       url('../fonts/Noah-Regular.ttf') format('truetype'),
       url('../fonts/Noah-Regular.svg#Noah-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Noah';
    src: url('../fonts/Noah-Bold.woff2') format('woff2'),
        url('../fonts/Noah-Bold.woff') format('woff'),
        url('../fonts/Noah-Bold.ttf') format('truetype'),
        url('../fonts/Noah-Bold.svg#Noah-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noah';
    src: url('../fonts/Noah-RegularItalic.woff2') format('woff2'),
        url('../fonts/Noah-RegularItalic.woff') format('woff'),
        url('../fonts/Noah-RegularItalic.ttf') format('truetype'),
        url('../fonts/Noah-RegularItalic.svg#Noah-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@layer base {
  :root {
    --color-vp-main: 255, 243, 74;
    --color-vp-secondary: 21, 182, 236;
  }
}

html {
  font-family: 'Noah';
  color: #000;
  background: #fff;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
strong,
b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}

.grid > .column {
  margin-bottom: var(--gutter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.fancy-title{
  position:relative;
}

.fancy-title:after{
  content:"";
  background: url(../icons/eclair.png) no-repeat center;
  background-size:contain;
  width:60px;
  height:60px;
  position: absolute;
  z-index:25;
}


@media screen and (min-width:1024px){
  .fancy-title:after{
    width:120px;
    height:120px;
    top:-50%;
    right:-100px;
  }
}


.fancy-title.fancy-dark:after{
  background: url(../icons/eclair-dark.png) no-repeat center;
  background-size:contain;
}

.h-cover{
  height: 50vh;
}

@media screen and (min-width:1024px){
  .h-cover{
    height: calc(66vh - 80px);
  }
}


.button-shadow{
  position:relative;
  box-shadow: 10px 10px #000;
  transition: all .25s ease-out;
}

.button-shadow:hover{
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  box-shadow: 5px 5px #000;
}

.button-shadow--alt{
  box-shadow: 10px 10px rgb(var(--color-vp-main));
}

.button-shadow--alt:hover{
  box-shadow: 5px 5px rgb(var(--color-vp-main));
}

.animate-slide{
  animation: sliding 30s linear infinite alternate;
}

.animate-rotate{
  animation: rotate 30s linear infinite;
}

@-webkit-keyframes sliding{
  0%{
    -webkit-transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(-60%);
  }
}

@keyframes sliding{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-60%);
  }
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform: rotate(0);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}

.video-4_3{
  padding-bottom: 56%;
}

.img img,
.video-4_3 iframe,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: 0.75rem;
  line-height: 1.5em;
}

.text p + p{
  margin-top:1rem;
}

.icon{
  display: block;
  width:20px;
  height:20px;
  margin-right:10px;
}

.icon_facebook{
  background: url(../icons/social/facebook.svg) no-repeat center;
  background-size:contain;
}

.icon_instagram{
  background: url(../icons/social/instagram.svg) no-repeat center;
  background-size:contain;
}

.icon_vimeo{
  background: url(../icons/social/vimeo.svg) no-repeat center;
  background-size:contain;
}

.pulse{
  animation: pulse 1s linear infinite;
}

@keyframes pulse{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(10px);
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%)
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity:0;
  transform: translateY(35px)
}

.swiper-button-prev,
.swiper-button-next{
  width:30px!important;
  height:30px!important;
}

.swiper-button-prev{
  left:15px!important;
}

.swiper-button-next{
  right:15px!important;
}

.swiper-button-next:after{
  content:""!important;
  background:url(~/assets/icons/next.png) no-repeat center;
  background-size: contain;
  width:100%;
  height:100%;
}

.swiper-button-prev:after{
  content:""!important;
  background:url(~/assets/icons/prev.png) no-repeat center;
  background-size: contain;
  width:100%;
  height:100%;
}

@media screen and (min-width:1024px){
  .swiper-button-prev,
  .swiper-button-next{
    width:50px!important;
    height:50px!important;
  }

  .swiper-button-prev{
    left:25px!important;
  }

  .swiper-button-next{
    right:25px!important;
  }
}


@media screen and (min-width: 60rem) {

  .grid > .column {
    grid-column: span var(--columns);
  }
}
